<div *ngIf="place"  class="teddy-bear">
    <div class="teddy-text">
      <h4>{{place.social_info.title | uppercase }}</h4>
      <span class="w-line"> </span>
      <img [attr.src]="place.social_info.img" alt="" class="img-responsive">
      </div>
      <div class="teddy-follow">
        <ul>
          <li class="folw-h"><h3>{{place.social_info.followers}}</h3>
            <p>Followers</p>
          </li>
          <li><h3>{{place.social_info.following}}</h3>
            <p>Following</p>
          </li>
        </ul>
      </div>
  </div>
